---
import { GraphQLClient } from 'graphql-request';

// Setup GraphQL client untuk connect dengan WordPress
const graphQLClient = new GraphQLClient('https://kerjasingapore.com/graphql');

const query = `
  query {
    posts {
      nodes {
        title
        slug
        content
      }
    }
  }
`;
const data = await graphQLClient.request(query);
const posts = data?.posts?.nodes ?? [];
---

<html>
  <body>
    <h1>Posts List</h1>
    <ul>
      {posts.map((post) => (
        <li>
          <h2>{post.title}</h2>
          <div set:html={post.content}></div>
        </li>
      ))}
    </ul>
  </body>
</html>
